<form id="foo">
  <div class="dqpl-checkbox-wrap dqpl-flexr">
    <div class="dqpl-checkbox dqpl-selected" role="checkbox" tabindex="0" aria-labelledby="foo"></div>
    <div class="dqpl-label" id="foo">Foo</div>
  </div>
  <div class="dqpl-checkbox-wrap dqpl-flexr">
    <div class="dqpl-checkbox" role="checkbox" tabindex="0" data-label-id="bar"></div>
    <div class="dqpl-label" id="bar">Bar</div>
  </div>
  <div class="dqpl-checkbox-wrap dqpl-flexr">
    <div class="dqpl-checkbox" role="checkbox" tabindex="0" data-label-id="baz" aria-disabled="true"></div>
    <div class="dqpl-label" id="baz">Baz (disabled)</div>
  </div>
</form>
