<div class="row options-menu-interactive">
  <div class="col-xs-6">
    <h4>Sample actions 1</h4>
    <p class="inform">(with left aligned dropdown)</p>
    <div class="dqpl-options-menu-wrap dqpl-align-left">
      <button class="dqpl-options-menu-trigger" type="button" aria-controls="options-menu-1" aria-label="Additional Options" aria-expanded="false">
        <div class="fa fa-ellipsis-v" aria-hidden="true"></div>
      </button>
      <ul class="dqpl-options-menu" id="options-menu-1" role="menu" aria-expanded="false">
        <li class="dqpl-options-menuitem" role="menuitem" tabindex="-1">Action 1</li>
        <li class="dqpl-options-menuitem" role="menuitem" aria-disabled="true" tabindex="-1">Action 2</li>
        <li class="dqpl-options-menuitem" role="menuitem" tabindex="-1">Action 3</li>
        <li class="dqpl-options-menuitem" role="menuitem" tabindex="-1">Action 4</li>
        <li class="dqpl-options-menuitem" role="menuitem" tabindex="-1">Action 5</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-6 right-side">
    <h4>Sample actions 2</h4>
    <p class="inform">(with right aligned dropdown)</p>
    <div class="dqpl-options-menu-wrap">
      <button class="dqpl-options-menu-trigger" type="button" aria-controls="options-menu-2" aria-label="Matrix Options" aria-expanded="false">
        <div class="fa fa-ellipsis-v" aria-hidden="true"></div>
      </button>
      <ul class="dqpl-options-menu" id="options-menu-2" role="menu" aria-expanded="false">
        <li class="dqpl-options-menuitem" role="menuitem" tabindex="-1">Red pill</li>
        <li class="dqpl-options-menuitem" role="menuitem" tabindex="-1">Blue pill</li>
      </ul>
    </div>
  </div>
</div>
