@import "../variables.less";

@one-third: (100% / 3);

.gridWrapDefaults() {
  .border-box();
  width: 100%;
  .display-flex();
  .flex-wrap(wrap);
}

@{prefix}3-col {
  .gridWrapDefaults();

  @{prefix}col {
    .border-box();
    .flex(1 0 @one-third);
  }
}

@{prefix}align-center {
  .align-items(center);
  @{prefix}col {
    margin: 0 auto;
  }
}

@{prefix}align-top {
  .align-self(flex-start);
}

@{prefix}col {
  padding: @space-small;
}

@{prefix}2-col {
  .gridWrapDefaults();

  @{prefix}col {
    .border-box();
    min-width: 290px;
    .flex(1 0 50%);
  }
}
