
@import "../../src/less/variables.less";

.login-wrapper {
  padding: 24px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 18px 0;
}

.img-wrap {
  text-align: center;
}

.dqpl-header {
  height: 80px;
  width: 100%;
}

.dqpl-button-wrap {
  position: relative;
  background: @link;
  border: 3px solid @link;
  border-radius: 18px;
  margin: 0;
  padding: 0;
  width: 100%;
  .ambient-light();

  &:focus {
    outline: none;
    background-color: #fff;

    span {
      width: 97%;
    }
  }

  &:hover {
    .key-light();
  }

  span {
    display: inline-block;
    width: 100%;
    border-radius: 18px;
    .box-shadow();
  }
}

.dqpl-field-wrap {
  input[type="text"] {
    width: 100%;
  }
}

.link-wrap {
  margin: 10px 0;
  font-size: 14px;
}

.tile-hide {
  display: none;
  transform: translate(200px);
  opacity: 0;
  .vendor(transition, all .3s);

  &.tile-show {
    display: block;
    .vendor(transition, all .3s);
  }

  &.animate {
    transform: initial;
    opacity: 1;
    .vendor(transition, all .3s);
  }
}

p {
  text-align: center;
}
