@import "../variables.less";

@{prefix}button-primary, @{prefix}button-secondary {
  width: 100px;
  border-radius: 18px;
  border: none;
  padding: @space-smallest;
  font-size: @text-small;
  .border-box();
  padding: @space-smallest;
  .ambient-light();
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: 36px;
}

@{prefix}button-primary {
  background-color: @button-primary;
  color: @button-text-light;
}

@{prefix}button-secondary {
  background-color: @button-secondary;
  color: @button-text-dark;
}

@{prefix}button-wrapper {
  padding: @space-smallest;
}

@{prefix}button-link {
  background-color: transparent;
  color: @link;
  font-weight: @weight-medium;
  padding: 0;
  border: none;
  font-size: 13px;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}
