@import "../variables.less";

@{prefix}button-primary {
  background-color: @button-primary;
  color: @button-text-light;
  width: 250px;
  border-radius: 18px;
  border: none;
  .border-box();
  padding: @space-smallest;
  font-size: 14px;
  .ambient-light();
}
