@import "../variables.less";
@import "../base.less";

input,
select,
textarea,
[role="radio"],
[role="checkbox"],
[role="menuitemcheckbox"],
[role="menuitemradio"],
[role="textbox"],
[role="combobox"],
[role="listbox"],
[role="spinbutton"] {
  border: 1px solid @field-border;

  &:focus {
    outline: 0;
    border: 1px solid @link;
    .field-focus();
  }

  &@{prefix}error {
    border: 1px solid @field-error-border;

    &:focus {
      .field-focus-error();
    }

    &:hover {
      border: 1px solid @field-error-hover-border;
    }
  }
}

@{prefix}field-wrap {
  position: relative;
  .border-box();
  margin-bottom: @space-large;
}

@{prefix}label {
  display: block;
  text-align: left;
  font-size: @text-smaller;
  margin-bottom: @space-three-quarters;
  margin-left: @space-half;
}

@{prefix}label-inline {
  display: inline;
  text-align: left;
  font-size: @text-smaller;
}

@{prefix}text-input {
  padding: 3px;
  .border-box();
  .box-sizing(border-box);
  font-size: @text-smallest;
  color: @text-base;
}
